.navbar {
    background-color: #282c34;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.navbar--options {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 60px;
}

.navbar--item {
    height: inherit;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.navbar--item:hover, .navbar--active {
    cursor: pointer;
    border-bottom: 5px solid orange;
}
  